:host(){
    --dark-blue:#0b0d21;
    --light-white:#fafafa;
    --light-blue:#4f7df9;
    --light-pink:#e91e63;
    --dull-blue:#1d1e33;
    --cornflower-blue:#6495ed;
    --size-16:16px;
    --size-14:14px;
    --size-12:12px;
}

.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BMI_image);
    background-size: cover;
    background-repeat: no-repeat;
}

.box{
    padding-top: 16px;
    max-width: 390px;
    max-height: 1000px;
    text-align: center;
    margin: auto;
    padding: var(--size-16);
    background: var(--dark-blue);
    color: var(--light-white);
    border-radius: 35px;
}

h1{
    font-size: 35px;
    padding: 20px 0;
    font-weight: bold;
}

label{
    font-size: 26px;
    color: var(--cornflower-blue);
}

button{
    background-color: var(--light-pink);
    font-size: 24px;
    /* text-color:var(--dark-blue); */
    padding: 12px;
}

.info-wrapper{
    background-color:var(--dull-blue);
    padding: var(--size-16);
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    font-size: var(--size-14);
    text-align: center;
}

h2{
    font-size: 26px;
    color: var(--light-pink);
    text-align: center;
}

.result-value{
    color: lightblue;
    font-size: 30px;
}
